<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763873239931-9e68cgvs02instln6b660gg1mi46j57s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763873239931-9e68cgvs02instln6b660gg1mi46j57s</string>
	<key>API_KEY</key>
	<string>AIzaSyCqqOytzId3i_CP-iN1k8B_qJclKh5gSUc</string>
	<key>GCM_SENDER_ID</key>
	<string>763873239931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viridian.7daydetox</string>
	<key>PROJECT_ID</key>
	<string>viridian-7-day-detox</string>
	<key>STORAGE_BUCKET</key>
	<string>viridian-7-day-detox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763873239931:ios:b60230b208abcfca</string>
	<key>DATABASE_URL</key>
	<string>https://viridian-7-day-detox.firebaseio.com</string>
</dict>
</plist>